<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Hexaware R&D Lab">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css">
	<title>FaceID-Confirmation</title>
</head>
<body>
<h1>Hi</h1>
<h2 style="display:inline">ID: </h6><h6 style="display:inline"><%= details.employeeid %><h2>
        <img src="<%= image %>" class="text-center py-5" style="top:40px;border:1px solid black; border-radius:5px" >
<h3>Did I got your correct Employee ID?</h3>
<form action='/response' method=post>
    <input id="employeeid" type="hidden" name="employeeid" value="<%= details.employeeid %>"/>
    <input id="imageData" type="hidden" name="imageData" value="<%= image %>"/>
    <button>print</button>
</form>
<form action='/getdata' method=get>
    <button>Camera</button>
</form>
</body>
</html>
