<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<h1>Hello </h1>
<h2 style="display:inline">ID: </h6><h6 style="display:inline"><%= details.employeeid %><h2>
<h3>Welcome to hexaware.Did I got your correct Employee Id</h3>
<form action='/printCard' method=post>
    <button>print</button>
</form>
<form action='/getdata' method=post>
    <button>Camera</button>
</form>
</body>
</html>