<html>
    <head>
        <!-- Theme Made By www.w3schools.com - No Copyright -->
        <!-- Bootstrap core CSS -->


         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <meta name="description" content="A web application to showcase face verification for Temporary ID Cards">
         <meta name="author" content="Hexaware R&D Lab">

         <title>FaceID</title>
         <!-- <link rel="shortcut icon" href="./images/favicon.ico" /> -->
         <!-- <link rel="stylesheet" href="style/bootstrap.min.css"> -->

         <!--Google Icon Font-->
         <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

         <!-- Propeller css -->
         <link href="css/propeller.min.css" rel="stylesheet">
         <!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
         <!--Custom Style css -->
         <link rel="stylesheet" type="text/css" href="css/style.css">


         <!--Animate css -->
         <!-- <link rel="stylesheet" href="css/animate.min.css"> -->

         <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script> -->
         <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script> -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
          .logo{
             text-align: center;
          }
          .text{
            text-align: center;
          }
          .footer{
              margin:0 left;
                }
        </style>
      </head>
<body>
    <div class =logo>
            <div>
              <img src="hexaware.png" align="middle">
            </div>
    </div>

   <div class =text>
        <h2>Welcome to Hexaware</h2>
        <!--Primary raised button with ripple effect -->

        <form action="/getData" method = "get">
            <input type="submit" value="Generate ID Card" class="btn pmd-btn-raised pmd-ripple-effect btn-primary"></input>
            <!-- <button>Temporary id card generator</button> -->
            </form>
   </div>

    <div class =footer "padding:2px">
        <footer>
                <div class="fixed-bottom">
                  <img src="images/popup-footer.png" >
                </div>

        </footer>
    </div>
</body>
</html>
