<html>
    <head>
        <!-- Theme Made By www.w3schools.com - No Copyright -->
        <title>Bootstrap Theme Company Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
          .logo{
             text-align: center;
          }
          .text{
            text-align: center;
          }
          .footer{
              margin:0 left;
                }       
        </style>
      </head>
<body>
    <div class =logo>
            <p>  <img src="hexaware.png" align="middle"></p>
    </div>
       
   <div class =text>
        <h2 >Hello !!! Welcome to hexaware .</h2>
        <form action="/getData" method = "get">
            <button>Temporary id card generator</button>
            </form>
   </div>

    <div class =footer "padding:2px">
        <footer>
                <p><img src="bottom.jpeg" ></p>
            
        </footer>
    </div>
</body>
</html>