<!doctype html>
<html lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Face tracking demo in JavaScript"/>
        <meta property="og:image" content="http://kdzwinel.github.io/JS-face-tracking-demo/img/step1.png"/>
        <link rel="image_src" href="http://kdzwinel.github.io/JS-face-tracking-demo/img/step1.png"/>
    
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script language='text/javascript' src="js/main.js"></script>
    
        <script>

                function take_snapshot() {
                    var video = document.getElementById('video');
                   var canvas = document.getElementById('yourCanvasID');
                   //var canvas1=document.getElementById('canvas2')
                   var context = canvas.getContext('2d');
                   var myImage = canvas.toDataURL("image/png");
                    var imageElement = document.getElementById("snap");  
                    //document.write(imageElement)
                    imageElement.src = myImage;   
                    document.getElementById('myImage') =myImage  
                    document.write(myImage) 
                    console.log('in snapshot') 
                    document.getElementById('myform').submit();      
                }
                  </script>
    
       
     </head>
        <body class="step1">
                    <div class="container">
                        <div class="alert alert-danger"><strong>Oops!</strong> <span></span></div>
                        <div class="jumbotron">
                            <div id="step1">
                                <h1><i class="glyphicon glyphicon-facetime-video"></i></h1>
                    
                                <p class="lead">
                                    Make sure that your whole face is visible below.
                                    <i class="glyphicon glyphicon-question-sign help" data-placement="bottom"
                                       data-content="<img src='img/step1.png' />" data-html="true"></i>
                                </p>
                                
                                <figure class="not-ready">
                                    <video  id="camera-stream" width="240" autoplay></video>
                                    <img id="snap">
                                    <canvas id="yourCanvasID" width="240" class="visible"></canvas>
                                    <canvas id="canvas2" width="240" class="hidden"></canvas>
                                </figure>
                            </div>
                    </div>
                    </div>
                  
                    <!-- <div id="load" style="margin:0px auto"></div>
    <br/>
  
    <div style="    text-align: center;
    /* border: 4px solid black; */
    background-color: #e8e8e8;
    color: white;
    padding: 11px;
    margin: -4px auto;
    width: 20%;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);">
    </div> -->

    <form id="myform" method="post" action="/upload" onsubmit="return take_snapshot()"></form>
    <input id="myImage" type="hidden" name="myImage" value="" />   
    <input type="submit"/>  
</form>
<!-- <div id="load" style="margin:0px auto"></div> -->
                    <!-- /container -->         
                    <!-- <script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
                    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
                    <script src="js/vendor/modernizr.min.js"></script>
                    <script src="js/vendor/bootstrap.min.js"></script>
                    <script src="js/vendor/tracking-min.js"></script>
                    <script src="js/vendor/data/face-min.js"></script>
                    <script src="js/vendor/gif.js"></script>
                    <script src="js/vendor/gif.worker.js"></script>
                    
                    <script src="js/main.js"></script>
    </body>
    
    