<!doctype html>
<html lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Face tracking demo in JavaScript"/>
        <meta property="og:image" content="http://kdzwinel.github.io/JS-face-tracking-demo/img/step1.png"/>
        <link rel="image_src" href="http://kdzwinel.github.io/JS-face-tracking-demo/img/step1.png"/>
    
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
        <script src="js/main.js">
        // function submit(){
        //     $getUserMedia(camera-stream,function(data){
        //         var data =document.getElementById("#snap").
        //         document.getElementById("image")=mydata
        //         
        //     })
       
        // }
        $document.getElementById('myform').submit();
        </script>
       
     </head>
        <body class="step1">
                    <div class="container">
                        <div class="alert alert-danger"><strong>Oops!</strong> <span></span></div>
                        <div class="jumbotron">
                            <div id="step1">
                                <h1><i class="glyphicon glyphicon-facetime-video"></i></h1>
                    
                                <p class="lead">
                                    Make sure that your whole face is visible below.
                                    <i class="glyphicon glyphicon-question-sign help" data-placement="bottom"
                                       data-content="<img src='img/step1.png' />" data-html="true"></i>
                                </p>
                                
                                <figure class="not-ready">
                                    <video  id="camera-stream" width="240" autoplay></video>
                                    <img id="snap">
                                    <canvas width="240" class="visible"></canvas>
                                    <canvas width="240" class="hidden"></canvas>
                                    <form id="myform" method="post" action="/upload" onclick="submit"></form>
                                        <input id="mydata" type="hidden" name="mydata" value="mydata"/>     
                                        <button type="submit">Submit</button>
                                    </form>
                                </figure>
                            
                            </div>
                    </div>
                    <div id="load" style="margin:0px auto"></div>
    <br/>
    <div style="    text-align: center;
    /* border: 4px solid black; */
    background-color: #e8e8e8;
    color: white;
    padding: 11px;
    margin: -4px auto;
    width: 20%;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.75);">
        <!-- <a href="javascript:void(take_snapshot())" id="snapshotText" style:"text-decoration:none;color:white">Take Snapshot</a> -->
    </div>
    </div id="load" style="margin:0px auto"></div>
                    <!-- /container -->
                    
                    <!-- <script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
                    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
                    <script src="js/vendor/modernizr.min.js"></script>
                    <script src="js/vendor/bootstrap.min.js"></script>
                    <script src="js/vendor/tracking-min.js"></script>
                    <script src="js/vendor/data/face-min.js"></script>
                    <script src="js/vendor/gif.js"></script>
                    <script src="js/vendor/gif.worker.js"></script>
                    
                    <script src="js/main.js"></script>
    </body>
    
    