
<head>
    <script>
        
        </script>

</head>
<body>
<h3>Please enter the OTP</h3>
<form id='myform' ,action='/otpHandler' method="post">
    <input type="text" name="otp" >
    <input id="employeeid" type="submit" name="employeeid" value="<%=subject_id>" class=""></input>
    <!-- <button type="button" value="<%= details.employeeid%>" class="btn btn-primary btn-lg m-2 ts-width__200px">Yes</input> -->
    <input id="imageData" type="hidden" name="imageData" value="<%=imageData>"/>
   
</body>