<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<h1>Hello </h1>
<h2 style="display:inline">ID: </h6><h6 style="display:inline"><%= details.employeeid%><h2>
<h3>Welcome to hexaware.Did I got your correct Employee Id</h3>
<form action='/response' method="post">
    <button>Yes</button>
</form>
<form action='/fillData' method="post">
    <button>No</button>
</form>
</body>
</html>